<phpunit
        bootstrap="./bootstrap.php"
        backupGlobals="false"
        colors="true">
    <testsuites>
        <testsuite name="Lazy_Db_Test_Suite">
            <directory>./LazyTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../Lazy</directory>
        </whitelist>
    </filter>
</phpunit>